<!DOCTYPE html>
<html>
<head>
<title>mysite</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<link href="/assets/css/guestbook.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="container">
		<div id="header">
			<h1>MySite</h1>
			<ul>
				{% if request.session.authuser is None %}
				<li><a href="/user/loginform">로그인</a><li>
				<li><a href="/user/joinform">회원가입</a><li>
				{% else %}
				<li><a href="/user/modify">회원정보수정</a><li>
				<li><a href="/user/logout">로그아웃</a><li>
				<li>{{ request.session.authuser.name }}님 안녕하세요 ^^*</li>
				{% endif %}
			</ul>
		</div>
		<div id="content">
			<div id="guestbook">
				<form action="/guestbook/add" method="post">{% csrf_token %}
					<input type="hidden" name="a" value="insert">
					<table>
						<tr>
							<td>이름</td><td><input type="text" name="name"></td>
							<td>비밀번호</td><td><input type="password" name="pass"></td>
						</tr>
						<tr>
							<td colspan=4><textarea name="content" id="content"></textarea></td>
						</tr>
						<tr>
							<td colspan=4 align=right><input type="submit" VALUE=" 확인 "></td>
						</tr>
					</table>
				</form>
				<ul>
					<li>

							{% for guestbook in guestbook_list %}

						<table>
							<tr>
								<td>{{ guestbook.count }}</td>
								<td>{{ guestbook.name }}</td>
								<td>{{ guestbook.reg_date }}</td>
								<td><a href="/guestbook/deleteform?no={{ guestbook.no }}">삭제</a></td>
							</tr>
							<tr>
								<td colspan=4>
								{{ guestbook.message }}<br/>
								</td>
							</tr>
						</table>
								{% endfor %}

						<br>
					</li>
				</ul>
			</div>
		</div>
		<div id="navigation">
			<ul>
				<li><a href="/">유소정</a></li>
				<li><a href="/guestbook">방명록</a></li>
				<li><a href="/board">게시판</a></li>
			</ul>
		</div>
		<div id="footer">
			<p>(c)opyright 2014 </p>
		</div>
	</div>
</body>
</html>